@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Agbalumo&family=Akronim&family=Caprasimo&family=Pacifico&family=Permanent+Marker&family=Playfair+Display:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
}
nav img {
  padding-left: 10px;
  width: 80px;
  height: 50px;
  object-fit: cover;
}

.offcanvas {
  background-image: linear-gradient(80deg, black, rgb(15, 0, 148));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  padding-right: 10px;
}
.offcanvas h5 {
  color: white;
}

.btn-close {
  background-color: white;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler img {
  border-radius: 30px;
  object-fit: cover;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.box-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid rgb(255, 255, 255);
  background-image: linear-gradient(80deg, rgb(15, 0, 148), black);
}
.box-carrito img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  padding: 0px;
}

.carrito-body {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
  gap: 10px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area1 area1" "area2 area3 area4" "area5 area6 area7" "area8 area9 area9" "area10 area10 area10";
}
.carrito-body .x1 {
  grid-area: area1;
  font-size: 30px;
  font-family: Akronim;
}
.carrito-body .x2 {
  grid-area: area2;
  font-size: 17px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid rgb(255, 255, 255);
  width: 30px;
  height: 30px;
}
.carrito-body .x3 {
  grid-area: area3;
  font-size: 17px;
}
.carrito-body .x4 {
  grid-area: area4;
  font-size: 17px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid rgb(255, 255, 255);
  width: 30px;
  height: 30px;
}
.carrito-body .x5 {
  grid-area: area5;
  font-size: 17px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid rgb(255, 255, 255);
  width: 30px;
  height: 30px;
}
.carrito-body .x6 {
  grid-area: area6;
  font-size: 17px;
}
.carrito-body .x7 {
  grid-area: area7;
  font-size: 17px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid rgb(255, 255, 255);
  width: 30px;
  height: 30px;
}
.carrito-body .x8 {
  grid-area: area8;
  font-size: 17px;
}
.carrito-body .x9 {
  grid-area: area9;
  padding-left: 40px;
  font-size: 17px;
}
.carrito-body .x10 {
  grid-area: area10;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  width: 100%;
}

.offcanvas-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
}
.offcanvas-footer div {
  display: flex;
  gap: 10px;
}
.offcanvas-footer div input {
  width: 200px;
  height: 40px;
  font-size: 25px;
  background-color: rgb(0, 0, 0);
  color: rgb(233, 245, 233);
  border: 1px solid rgb(255, 255, 255);
  padding-left: 15px;
}
.offcanvas-footer div button {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(5, 253, 5);
  border: 1px solid rgb(255, 255, 255);
}
.offcanvas-footer p {
  margin-bottom: 0px;
}

.info {
  color: black;
  background-image: linear-gradient(white, white);
  font-family: agbalumo;
}

body {
  padding-top: 120px;
  background-image: linear-gradient(80deg, rgb(15, 0, 148), black);
}
body h1, body h2 {
  padding: 20px;
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-family: ADLaMDisplay;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  gap: 15px;
}

.box-container {
  display: flex;
  flex-direction: column;
  width: 24%;
  background-color: rgb(0, 0, 0);
  font-family: Akronim;
}

.box-image {
  overflow: hidden;
}
.box-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.5s;
}
.box-image img:hover {
  transform: scale(1.1, 1.1);
}

.box-body {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 10px;
}
.box-body p {
  color: rgb(255, 255, 255);
  font-size: 28px;
}
.box-body b {
  color: rgb(21, 255, 0);
  align-self: flex-end;
  font-family: PlayfairDisplay;
}
.box-body button {
  font-family: Caprasimo;
  cursor: pointer;
  background-color: rgb(240, 228, 228);
  padding: 10px;
  border: 2px solid rgb(15, 0, 148);
  transition: 0.5s;
}
.box-body button:hover {
  border-radius: 20px;
}

/*# sourceMappingURL=style.css.map */
