nav {
    background-color: black;
    
    img {
        padding-left: 10px;
        width: 80px;
        height: 50px;
        object-fit: cover;
    }
}

.offcanvas {
    background-image: linear-gradient(80deg, rgb(167, 37, 253), black);

    h5 {
        color: white;
    }
}

.btn-close {
    background-color: white;
}

.navbar-toggler {
    border: none;

    img {
        border-radius: 30px;
        object-fit: cover;
    }
}